/* NAV BAR */

.navbar-container {
    margin-top: 100px;
}

.dropdown-item,
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle:hover {
    text-decoration: none;
}


/* HOME PAGE */


/* Title */

.welcome-title-container {
    text-align: center;
}