<div class="row">
    <div class="col-2 text-center" *ngFor="let photo of photosToApprove">
        <h4>{{ photo.username | titlecase}}</h4>
        <img src='{{photo.url}}' class='img-thumbnail p-1' alt='Photo of {{photo.username}}'>

        <div class="text-center">
            <button class="btn btn-sm btn-success m-1" (click)="approvePhoto(photo.id)">Approve</button>
            <button class="btn btn-sm btn-warning m-1" (click)="rejectPhoto(photo.id)">Reject</button>
        </div>
    </div>
</div>