.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #148a9c;
    border-color: #128293;
}